<header class="page-header">
  <h1>Dashboard</h1>
</header>

<div>
  <p class="alert alert-secondary" role="alert">There has <%= @count_products %> products in the database</p>
  <p class="alert alert-secondary" role="alert">There has <%= @count_categories %> categories in the database</p>
  <%= link_to "Go To Admin Product Page", "/admin/products" %>
</div>

